.card-list {
  min-width: 360px;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &_list {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.25) none;

    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      padding-right: 2px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 6px;
    }
  }
}
